{
  "extends": [
		"eslint:recommended",
		"plugin:prettier/recommended"
	],
  "env": {
    "node": true,
    "es2021": true,
    "browser": true,
    "jquery": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "globalReturn": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
	"ignorePatterns": ["*.min.js"]
}