<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.njk" %}
    {% if page.url == '/' %}
      <link rel="stylesheet" type="text/css" href="https://pretix.eu/hs-albsig-asta/spring-break/widget/v1.css">
      <script type="text/javascript" src="https://pretix.eu/widget/v1.de-informal.js" async></script>
    {% endif %}
    {% if site.env %}
      <!-- capture the CSS content as a Liquid variable -->
      {% set css %}{% include "styles.min.css" %}{% endset %}
      <style>
        {{css | safe}}</style>
    {% else %}
      <link rel="stylesheet" href="/static/styles.min.css">
    {% endif %}
  </head>
  <body>
    <a href="#main" class="skip-link">Skip to main content</a>
    {{ content | safe }}
  </body>
  <script src="/static/app.min.js" defer></script>
</html>