@import "utils/_tailwind.css";
@import "utils/_accessibility.css";

@font-face {
	font-family: "CMU Serif";
	src: url("/static/CMUSerif-Roman.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: MoonTime;
	src: url("/static/MoonTime-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

html,
body {
	@apply min-h-full;
}

body {
	background-color: #fcf3ea;

	@apply font-serif;
}

h2 {
	@apply text-xl pb-2;
}

h3 {
	@apply text-lg pb-2;
}

a {
	@apply underline;
}

p {
	@apply pb-4;
}

.pretix-widget {
	margin: 0;
	border: 0;
}

.logo {
	text-shadow: 4px 3px #a12f90;
}
