---
layout: base.njk
title: AGB
description: Die AGB des Light Up AlbSig
---

<main class="h-full px-8 py-24">
  <header class="max-w-screen-lg pb-24 mx-auto">
    <a class="block mb-4" href="/">Zum Shop</a>
    <h1 class="text-4xl lg:text-9xl">AGB</h1>
  </header>
  <section class="max-w-screen-lg mx-auto">
    <h2>Allgemeine Gesch&auml;ftsbedingungen mit Kundeninformationen</h2>
    <h2>Inhaltsverzeichnis</h2>
    <ol>
      <li>Geltungsbereich</li>
      <li>Vertragsschluss</li>
      <li>Widerrufsrecht</li>
      <li>Preise und Zahlungsbedingungen</li>
      <li>Liefer- und Versandbedingungen</li>
      <li>Einl&ouml;sung von Tickets</li>
      <li>Einl&ouml;sung von Aktionsgutscheinen</li>
      <li>M&auml;ngelhaftung (Gew&auml;hrleistung)</li>
      <li>Anwendbares Recht</li>
      <li>Alternative Streitbeilegung</li>
    </ol>
    <h2>1) Geltungsbereich</h2>
    <p>
      <b>1.1</b>&nbsp;Diese Allgemeinen Gesch&auml;ftsbedingungen (nachfolgend &quot;AGB&quot;) der Verfasste
        Studierendenschaft der Hochschule Albstadt-Sigmaringen K.d.&Ouml;.R., handelnd unter &quot;Maximilian Merkwitza&quot;
        (nachfolgend &quot;Verk&auml;ufer&quot;), gelten f&uuml;r alle Vertr&auml;ge &uuml;ber die Lieferung von Tickets, die
        ein Verbraucher oder Unternehmer (nachfolgend &bdquo;Kunde&ldquo;) mit dem Verk&auml;ufer hinsichtlich der vom
        Verk&auml;ufer in seinem Online-Shop dargestellten Tickets abschlie&szlig;t. Hiermit wird der Einbeziehung von eigenen
        Bedingungen des Kunden widersprochen, es sei denn, es ist etwas anderes vereinbart.</p>
    <p>
      <b>1.2</b>&nbsp;Verbraucher im Sinne dieser AGB ist jede nat&uuml;rliche Person, die ein Rechtsgesch&auml;ft zu Zwecken
        abschlie&szlig;t, die &uuml;berwiegend weder ihrer gewerblichen noch ihrer selbst&auml;ndigen beruflichen T&auml;tigkeit
        zugerechnet werden k&ouml;nnen. Unternehmer im Sinne dieser AGB ist eine nat&uuml;rliche oder juristische Person oder
        eine rechtsf&auml;hige Personengesellschaft, die bei Abschluss eines Rechtsgesch&auml;fts in Aus&uuml;bung ihrer
        gewerblichen oder selbst&auml;ndigen beruflichen T&auml;tigkeit handelt.</p>
    <p>
      <b>1.3</b>&nbsp;Diese AGB regeln lediglich den Verkauf von Tickets f&uuml;r bestimmte, in der Artikelbeschreibung des
        Verk&auml;ufers n&auml;her bezeichnete Veranstaltungen und nicht die Durchf&uuml;hrung dieser Veranstaltungen. F&uuml;r
        die Durchf&uuml;hrung der Veranstaltungen gelten ausschlie&szlig;lich die gesetzlichen Bestimmungen im Verh&auml;ltnis
        zwischen dem Kunden und dem Veranstalter sowie ggf. hiervon abweichende Bedingungen des Veranstalters. Sofern der
        Verk&auml;ufer nicht zugleich auch Veranstalter ist, haftet er nicht f&uuml;r die ordnungsgem&auml;&szlig;e
        Durchf&uuml;hrung der Veranstaltung, f&uuml;r die ausschlie&szlig;lich der jeweilige Veranstalter verantwortlich ist.</p>
    <h2>2) Vertragsschluss</h2>
    <p>
      <b>2.1</b>&nbsp;Die im Online-Shop des Verk&auml;ufers enthaltenen Artikelbeschreibungen stellen keine verbindlichen
        Angebote seitens des Verk&auml;ufers dar, sondern dienen zur Abgabe eines verbindlichen Angebots durch den Kunden.</p>
    <p>
      <b>2.2</b>&nbsp;Der Kunde kann das Angebot &uuml;ber das in den Online-Shop des Verk&auml;ufers integrierte
        Online-Bestellformular abgeben. Dabei gibt der Kunde, nachdem er die ausgew&auml;hlten Tickets in den virtuellen
        Warenkorb gelegt und den elektronischen Bestellprozess durchlaufen hat, durch Klicken des den Bestellvorgang
        abschlie&szlig;enden Buttons ein rechtlich verbindliches Vertragsangebot in Bezug auf die im Warenkorb enthaltenen
        Tickets ab.</p>
    <p>
      <b>2.3</b>&nbsp;Der Verk&auml;ufer kann das Angebot des Kunden innerhalb von f&uuml;nf Tagen annehmen,</p>
    <ul>
      <li>indem er dem Kunden eine schriftliche Auftragsbest&auml;tigung oder eine Auftragsbest&auml;tigung in Textform (Fax
        oder E-Mail) &uuml;bermittelt, wobei insoweit der Zugang der Auftragsbest&auml;tigung beim Kunden ma&szlig;geblich ist,
        oder</li>
      <li>indem er dem Kunden die bestellten Tickets liefert, wobei insoweit der Zugang der Tickets beim Kunden
        ma&szlig;geblich ist, oder</li>
      <li>indem er den Kunden nach Abgabe von dessen Bestellung zur Zahlung auffordert.</li>
    </ul>
    <p>Liegen mehrere der vorgenannten Alternativen vor, kommt der Vertrag in dem Zeitpunkt zustande, in dem eine der
      vorgenannten Alternativen zuerst eintritt. Die Frist zur Annahme des Angebots beginnt am Tag nach der Absendung des
      Angebots durch den Kunden zu laufen und endet mit dem Ablauf des f&uuml;nften Tages, welcher auf die Absendung des
      Angebots folgt. Nimmt der Verk&auml;ufer das Angebot des Kunden innerhalb vorgenannter Frist nicht an, so gilt dies als
      Ablehnung des Angebots mit der Folge, dass der Kunde nicht mehr an seine Willenserkl&auml;rung gebunden ist.</p>
    <p>
      <b>2.4</b>&nbsp;Bei Auswahl einer von PayPal angebotenen Zahlungsart erfolgt die Zahlungsabwicklung &uuml;ber den
        Zahlungsdienstleister PayPal (Europe) S.&agrave; r.l. et Cie, S.C.A., 22-24 Boulevard Royal, L-2449 Luxembourg (im
        Folgenden: &bdquo;PayPal&ldquo;), unter Geltung der PayPal-Nutzungsbedingungen, einsehbar unter
      <a href="https://www.paypal.com/de/webapps/mpp/ua/useragreement-full" target="_blank">
        https://www.paypal.com/de/webapps/mpp/ua/useragreement-full</a>
      oder - falls der Kunde nicht &uuml;ber ein PayPal-Konto verf&uuml;gt &ndash; unter Geltung der Bedingungen f&uuml;r
      Zahlungen ohne PayPal-Konto, einsehbar unter
      <a href="https://www.paypal.com/de/webapps/mpp/ua/privacywax-full" target="_blank">
        https://www.paypal.com/de/webapps/mpp/ua/privacywax-full</a>. Zahlt der Kunde mittels einer im Online-Bestellvorgang
        ausw&auml;hlbaren von PayPal angebotenen Zahlungsart, erkl&auml;rt der Verk&auml;ufer schon jetzt die Annahme des
        Angebots des Kunden in dem Zeitpunkt, in dem der Kunde den den Bestellvorgang abschlie&szlig;enden Button anklickt.</p>
    <p>
      <b>2.5</b>&nbsp;Bei der Abgabe eines Angebots &uuml;ber das Online-Bestellformular des Verk&auml;ufers wird der
        Vertragstext nach dem Vertragsschluss vom Verk&auml;ufer gespeichert und dem Kunden nach Absendung von dessen Bestellung
        in Textform (z. B. E-Mail, Fax oder Brief) &uuml;bermittelt. Eine dar&uuml;ber hinausgehende Zug&auml;nglichmachung des
        Vertragstextes durch den Verk&auml;ufer erfolgt nicht.</p>
    <p>
      <b>2.6</b>&nbsp;Vor verbindlicher Abgabe der Bestellung &uuml;ber das Online-Bestellformular des Verk&auml;ufers kann
        der Kunde m&ouml;gliche Eingabefehler durch aufmerksames Lesen der auf dem Bildschirm dargestellten Informationen
        erkennen. Ein wirksames technisches Mittel zur besseren Erkennung von Eingabefehlern kann dabei die
        Vergr&ouml;&szlig;erungsfunktion des Browsers sein, mit deren Hilfe die Darstellung auf dem Bildschirm
        vergr&ouml;&szlig;ert wird. Seine Eingaben kann der Kunde im Rahmen des elektronischen Bestellprozesses so lange
        &uuml;ber die &uuml;blichen Tastatur- und Mausfunktionen korrigieren, bis er den den Bestellvorgang abschlie&szlig;enden
        Button anklickt.</p>
    <p>
      <b>2.7</b>&nbsp;F&uuml;r den Vertragsschluss steht ausschlie&szlig;lich die deutsche Sprache zur Verf&uuml;gung.</p>
    <p>
      <b>2.8</b>&nbsp;Die Bestellabwicklung und Kontaktaufnahme finden in der Regel per E-Mail und automatisierter
        Bestellabwicklung statt. Der Kunde hat sicherzustellen, dass die von ihm zur Bestellabwicklung angegebene E-Mail-Adresse
        zutreffend ist, so dass unter dieser Adresse die vom Verk&auml;ufer versandten E-Mails empfangen werden k&ouml;nnen.
        Insbesondere hat der Kunde bei dem Einsatz von SPAM-Filtern sicherzustellen, dass alle vom Verk&auml;ufer oder von
        diesem mit der Bestellabwicklung beauftragten Dritten versandten E-Mails zugestellt werden k&ouml;nnen.</p>
    <h2>3) Widerrufsrecht</h2>
    <p>
      <b>3.1</b>&nbsp;Verbrauchern steht grunds&auml;tzlich ein Widerrufsrecht zu.</p>
    <p>
      <b>3.2</b>&nbsp;N&auml;here Informationen zum Widerrufsrecht ergeben sich aus der Widerrufsbelehrung des Verk&auml;ufers.</p>
    <p>
      <b>3.3</b>&nbsp;Gem&auml;&szlig; &sect; 312g Abs. 2 Nr. 9 BGB besteht ein Widerrufsrecht, soweit nichts anderes
        vereinbart ist, nicht bei Vertr&auml;gen zur Erbringung von Dienstleistungen im Zusammenhang mit
        Freizeitbet&auml;tigungen, wenn der Vertrag f&uuml;r die Erbringung einen spezifischen Termin oder Zeitraum vorsieht.
        Danach ist ein Widerrufsrecht auch bei Vertr&auml;gen ausgeschlossen, die den Verkauf von Tickets f&uuml;r
        termingebundene Freizeitveranstaltungen zum Gegenstand haben.</p>
    <h2>4) Preise und Zahlungsbedingungen</h2>
    <p>
      <b>4.1</b>&nbsp;Sofern sich aus der Artikelbeschreibung des Verk&auml;ufers nichts anderes ergibt, handelt es sich bei
        den angegebenen Preisen um Gesamtpreise, die die gesetzliche Umsatzsteuer enthalten.</p>
    <p>
      <b>4.2</b>&nbsp;Die Zahlungsm&ouml;glichkeit/en wird/werden dem Kunden im Online-Shop des Verk&auml;ufers mitgeteilt.</p>
    <p>
      <b>4.3</b>&nbsp;Ist Vorauskasse per Bank&uuml;berweisung vereinbart, ist die Zahlung sofort nach Vertragsabschluss
        f&auml;llig, sofern die Parteien keinen sp&auml;teren F&auml;lligkeitstermin vereinbart haben.</p>
    <h2>5) Liefer- und Versandbedingungen</h2>
    <p>Tickets werden dem Kunden wie folgt &uuml;berlassen:</p>
    <ul>
      <li>per Download</li>
      <li>per E-Mail</li>
    </ul>
    <h2>6) Einl&ouml;sung von Tickets</h2>
    <p>
      <b>6.1</b>&nbsp;Das Ticket kann nur einmal und nur zu dem auf dem Ticket angegebenen Termin an dem auf dem Ticket
        angegebenen Veranstaltungsort eingel&ouml;st werden.</p>
    <p>
      <b>6.2</b>&nbsp;Das Ticket ist nur f&uuml;r die Verwendung durch die auf ihm benannte Person bestimmt. Eine
        &Uuml;ber-tragung des Tickets auf Dritte ist ausgeschlossen. Ist der Verk&auml;ufer zugleich auch Veranstalter, ist er
        berechtigt, jedoch nicht verpflichtet, die materielle Anspruchsberechtigung des jeweiligen Ticketinhabers zu
        pr&uuml;fen.</p>
    <h2>7) Einl&ouml;sung von Aktionsgutscheinen</h2>
    <p>
      <b>7.1</b>&nbsp;Gutscheine, die vom Verk&auml;ufer im Rahmen von Werbeaktionen mit einer bestimmten
        G&uuml;ltigkeitsdauer unentgeltlich ausgegeben werden und die vom Kunden nicht k&auml;uflich erworben werden k&ouml;nnen
        (nachfolgend &quot;Aktionsgutscheine&quot;), k&ouml;nnen nur im Online-Shop des Verk&auml;ufers und nur im angegebenen
        Zeitraum eingel&ouml;st werden.</p>
    <p>
      <b>7.2</b>&nbsp;Einzelne Artikel k&ouml;nnen von der Gutscheinaktion ausgeschlossen sein, sofern sich eine entsprechende
        Einschr&auml;nkung aus dem Inhalt des Aktionsgutscheins ergibt.</p>
    <p>
      <b>7.3</b>&nbsp;Aktionsgutscheine k&ouml;nnen nur vor Abschluss des Bestellvorgangs eingel&ouml;st werden. Eine
        nachtr&auml;gliche Verrechnung ist nicht m&ouml;glich.</p>
    <p>
      <b>7.4</b>&nbsp;Pro Bestellung kann immer nur ein Aktionsgutschein eingel&ouml;st werden.</p>
    <p>
      <b>7.5</b>&nbsp;Der Warenwert muss mindestens dem Betrag des Aktionsgutscheins entsprechen. Etwaiges Restguthaben wird
        vom Verk&auml;ufer nicht erstattet.</p>
    <p>
      <b>7.6</b>&nbsp;Reicht der Wert des Aktionsgutscheins zur Deckung der Bestellung nicht aus, kann zur Begleichung des
        Differenzbetrages eine der &uuml;brigen vom Verk&auml;ufer angebotenen Zahlungsarten gew&auml;hlt werden.</p>
    <p>
      <b>7.7</b>&nbsp;Das Guthaben eines Aktionsgutscheins wird weder in Bargeld ausgezahlt noch verzinst.</p>
    <p>
      <b>7.8</b>&nbsp;Der Aktionsgutschein wird nicht erstattet, wenn der Kunde die mit dem Aktionsgutschein ganz oder
        teilweise bezahlte Ware im Rahmen seines gesetzlichen Widerrufsrechts zur&uuml;ckgibt.</p>
    <p>
      <b>7.9</b>&nbsp;Der Aktionsgutschein ist &uuml;bertragbar. Der Verk&auml;ufer kann mit befreiender Wirkung an den
        jeweiligen Inhaber, der den Aktionsgutschein im Online-Shop des Verk&auml;ufers einl&ouml;st, leisten. Dies gilt nicht,
        wenn der Verk&auml;ufer Kenntnis oder grob fahrl&auml;ssige Unkenntnis von der Nichtberechtigung, der
        Gesch&auml;ftsunf&auml;higkeit oder der fehlenden Vertretungsberechtigung des jeweiligen Inhabers hat.</p>
    <h2>8) M&auml;ngelhaftung (Gew&auml;hrleistung)</h2>
    <p>Ist die Kaufsache mangelhaft, gelten die Vorschriften der gesetzlichen M&auml;ngelhaftung.</p>
    <h2>9) Anwendbares Recht</h2>
    <p>F&uuml;r s&auml;mtliche Rechtsbeziehungen der Parteien gilt das Recht der Bundesrepublik Deutschland unter Ausschluss
      der Gesetze &uuml;ber den internationalen Kauf beweglicher Waren. Bei Verbrauchern gilt diese Rechtswahl nur insoweit,
      als nicht der gew&auml;hrte Schutz durch zwingende Bestimmungen des Rechts des Staates, in dem der Verbraucher seinen
      gew&ouml;hnlichen Aufenthalt hat, entzogen wird.</p>
    <h2>10) Alternative Streitbeilegung</h2>
    <p>
      <b>10.1</b>&nbsp;Die EU-Kommission stellt im Internet unter folgendem Link eine Plattform zur Online-Streitbeilegung bereit:
      <a href="https://ec.europa.eu/consumers/odr" target="_blank">https://ec.europa.eu/consumers/odr</a>
    </p>
    <p>Diese Plattform dient als Anlaufstelle zur au&szlig;ergerichtlichen Beilegung von Streitigkeiten aus Online-Kauf-
      oder Dienstleistungsvertr&auml;gen, an denen ein Verbraucher beteiligt ist.</p>
    <p>
      <b>10.2</b>&nbsp;Der Verk&auml;ufer ist zur Teilnahme an einem Streitbeilegungsverfahren vor einer
        Verbraucherschlichtungsstelle weder verpflichtet noch bereit.</p>
  </section>
  <footer class="items-center max-w-screen-lg py-4 mx-auto lg:flex">
    <span class="block pr-8">&copy; 2022 VS AlbSig</span>
    <ul class="lg:space-x-4 lg:flex">
      <li>
        <a href="/impressum/">Impressum</a>
      </li>
      <li>
        <a href="/datenschutz/">Datenschutz</a>
      </li>
      <li>
        <a href="/widerrufsrecht/">Widerrufsrecht</a>
      </li>
      <li>
        <a href="/agb/">AGB</a>
      </li>
    </ul>
  </footer>
</main>