---
layout: base.njk
title: Impressum
description: Die Verantwortlichen des Light Up AlbSig
---

<main class="h-full px-8 py-24">
  <header class="max-w-screen-lg pb-24 mx-auto">
    <a class="block mb-4" href="/">Zum Shop</a>
    <h1 class="text-4xl lg:text-9xl">Impressum</h1>
  </header>
  <section class="max-w-screen-lg mx-auto">
    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>Verfasste Studierendenschaft der Hochschule Albstadt-Sigmaringen K.d.&Ouml;.R.<br/>
      Anton-G&uuml;nther-Stra&szlig;e 51<br/> 72488 Sigmaringen</p>
    <p>
      <strong>Vertreten durch:</strong><br/> Maximilian Merkwitza</p>
    <h2>Kontakt</h2>
    <p>Telefon: +4975717329198<br/> E-Mail: astaalb@hs-albsig.de</p>
    <h2>Redaktionell verantwortlich</h2>
    <p>Maximilian Merkwitza</p>
    <h2>EU-Streitschlichtung</h2>
    <p>Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit:
      <a href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener noreferrer">
        https://ec.europa.eu/consumers/odr/</a>.<br/> Unsere E-Mail-Adresse finden Sie oben im Impressum.</p>
    <h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
    <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
      teilzunehmen.</p>
  </section>
  <footer class="items-center max-w-screen-lg py-4 mx-auto lg:flex">
    <span class="block pr-8">&copy; 2022 VS AlbSig</span>
    <ul class="lg:space-x-4 lg:flex">
      <li>
        <a href="/impressum/">Impressum</a>
      </li>
      <li>
        <a href="/datenschutz/">Datenschutz</a>
      </li>
      <li>
        <a href="/widerrufsrecht/">Widerrufsrecht</a>
      </li>
      <li>
        <a href="/agb/">AGB</a>
      </li>
    </ul>
  </footer>
</main>