---
layout: base.njk
title: Das Festival des Jahres
description: Das Festival des Jahres! Präsentiert von der AsTA der Hochschule Albstadt-Sigmaringen
---

<main id="main">
  <div class="w-full h-screen pb-24">
    <header class="w-full h-full bg-[#fcf3ea] flex items-center justify-center relative flex-col px-8 text-center">
      <video
        src="/static/festival-teaser-web-compressed.mp4"
        autoplay="autoplay"
        playsinline="playsinline"
        loop="loop"
        muted="muted"
        class="absolute object-cover w-full h-full"></video>
      <span class="relative block -mt-24 text-4xl text-white">Die VS AlbSig präsentiert...</span>
      <h1 class="relative mt-24 text-center">
        <span class="font-display text-9xl lg:text-[280px] text-pink-500 leading-[250px] logo">light up</span>
        <span class="block font-serif text-4xl text-white uppercase">AlbSig</span>
      </h1>
      <span class="relative block mt-16 text-4xl text-white">03.06.2022 - Campus Sigmaringen</span>
    </header>
  </div>
  <section class="pb-48 pt-24 bg-[#fcf3ea] text-gray-900">
    <div class="max-w-screen-lg px-8 mx-auto">
      <h2 class="block mb-12 text-4xl text-center lg:text-8xl">Das beste Festival des Jahres</h2>
      <div>
        <h3 class="block mb-8 text-2xl text-center text-gray-900 lg:text-4xl">Das erwartet euch</h3>
        <ul class="mb-24 -mx-2 text-xl text-center lg:columns-2">
          <li class="px-2 py-3">Warmup mit entspannten Festival-Pre-Summer-Vibes</li>
          <li class="px-2 py-3">Ein 3000qm großes Gelände</li>
          <li class="px-2 py-3">Meterlange Bars</li>
          <li class="px-2 py-3">Eis</li>
          <li class="px-2 py-3">3 DJ's auf der Main Stage mit Laser, Nebel, Konfettikanonen</li>
          <li class="px-2 py-3">Food Trucks</li>
          <li class="px-2 py-3">Busshuttle zwischen Sigmaringen und Albstadt</li>
          <li class="px-2 py-3">Großzügige Parkmöglichkeiten</li>
        </ul>
      </div>
      <span class="block mb-4 text-2xl leading-loose text-center text-gray-900 lg:text-4xl">03.06.2022<br>Hochschule Albstadt-Sigmaringen Campus Sigmaringen</span>
      <span class="block mb-8 text-xl text-center text-gray-900 lg:text-2xl">Anton-Günther-Straße 51, 72488 Sigmaringen</span>
    </div>
  </section>
  <section class="py-24 bg-teal-200">
    <div class="max-w-screen-lg px-8 mx-auto text-center">
      {#<span class="text-2xl">Noch ein wenig Geduld, der Vorverkauf startet bald</span>#}

      <pretix-widget event="https://shop.lightup-albsig.de/"></pretix-widget>
      <noscript>
        <div class="pretix-widget">
              <div class="pretix-widget-info-message">
                  JavaScript ist in deinem Browser deaktiviert. Um unseren Ticket-Shop ohne JavaScript aufzurufen, klicke bitte <a target="_blank" rel="noopener" href="https://shop.lightup-albsig.de/">hier</a>.
              </div>
          </div>
      </noscript>

      <div class="mt-12 text-center">
        <h2 class="block pb-4">Support</h2>
        <span class="block">Bei Fragen wendet euch direkt an <a href="mailto:astaalb@hs-albsig.de">astaalb@hs-albsig.de</a></span>
      </div>
    </div>
  </section>
  <footer class="items-center px-16 py-4 lg:flex bg-gradient-to-t from-teal-300 to-teal-200">
    <span class="block pr-8">&copy; 2022 VS AlbSig</span>
    <ul class="lg:space-x-4 lg:flex">
      <li>
        <a href="/impressum/">Impressum</a>
      </li>
      <li>
        <a href="/datenschutz/">Datenschutz</a>
      </li>
      <li>
        <a href="/widerrufsrecht/">Widerrufsrecht</a>
      </li>
      <li>
        <a href="/agb/">AGB</a>
      </li>
    </ul>
  </footer>
</main>