---
layout: base.njk
title: Widerrufsrecht | Light Up AlbSig
description: Das Widerrufsrecht des Light Up AlbSig
---

<main class="h-full px-8 py-24">
  <header class="max-w-screen-lg pb-24 mx-auto">
    <a class="block mb-4" href="/">Zum Shop</a>
    <h1 class="text-4xl lg:text-9xl">Widerrufsrecht</h1>
  </header>
  <section class="max-w-screen-lg mx-auto">
    <p>Verbrauchern steht ein Widerrufsrecht nach folgender Ma&szlig;gabe zu, wobei Verbraucher jede nat&uuml;rliche Person
      ist, die ein Rechtsgesch&auml;ft zu Zwecken abschlie&szlig;t, die &uuml;berwiegend weder ihrer gewerblichen noch ihrer
      selbst&auml;ndigen beruflichen T&auml;tigkeit zugerechnet werden k&ouml;nnen:</p>
    <h2>A. Widerrufsbelehrung</h2>
    <h3>Widerrufsrecht</h3>
    <p>Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gr&uuml;nden diesen Vertrag zu widerrufen.</p>
    <p>Die Widerrufsfrist betr&auml;gt vierzehn Tage ab dem Tag, an dem Sie oder ein von Ihnen benannter Dritter, der nicht
      der Bef&ouml;rderer ist, die letzte Ware in Besitz genommen haben bzw. hat.</p>
    <p>Um Ihr Widerrufsrecht auszu&uuml;ben, m&uuml;ssen Sie uns (Verfasste Studierendenschaft der Hochschule
      Albstadt-Sigmaringen K.d.&Ouml;.R., Maximilian Merkwitza, Anton-G&uuml;nther-Stra&szlig;e 51<br/>
    72488 Sigmaringen, Deutschland, Tel.: +4975717329198, E-Mail: astaalb@hs-albsig.de) mittels einer eindeutigen
    Erkl&auml;rung (z. B. ein mit der Post versandter Brief oder E-Mail) &uuml;ber Ihren Entschluss, diesen Vertrag zu
    widerrufen, informieren. Sie k&ouml;nnen daf&uuml;r das beigef&uuml;gte Muster-Widerrufsformular verwenden, das jedoch
    nicht vorgeschrieben ist.</p>
    <p>Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung &uuml;ber die Aus&uuml;bung des Widerrufsrechts
      vor Ablauf der Widerrufsfrist absenden.</p>
    <h3>Folgen des Widerrufs</h3>
    <p>Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben,
      einschlie&szlig;lich der Lieferkosten (mit Ausnahme der zus&auml;tzlichen Kosten, die sich daraus ergeben, dass Sie eine
      andere Art der Lieferung als die von uns angebotene, g&uuml;nstigste Standardlieferung gew&auml;hlt haben),
      unverz&uuml;glich und sp&auml;testens binnen vierzehn Tagen ab dem Tag zur&uuml;ckzuzahlen, an dem die Mitteilung
      &uuml;ber Ihren Widerruf dieses Vertrags bei uns eingegangen ist. F&uuml;r diese R&uuml;ckzahlung verwenden wir dasselbe
      Zahlungsmittel, das Sie bei der urspr&uuml;nglichen Transaktion eingesetzt haben, es sei denn, mit Ihnen wurde
      ausdr&uuml;cklich etwas anderes vereinbart; in keinem Fall werden Ihnen wegen dieser R&uuml;ckzahlung Entgelte
      berechnet. Wir k&ouml;nnen die R&uuml;ckzahlung verweigern, bis wir die Waren wieder zur&uuml;ckerhalten haben oder bis
      Sie den Nachweis erbracht haben, dass Sie die Waren zur&uuml;ckgesandt haben, je nachdem, welches der fr&uuml;here
      Zeitpunkt ist.</p>
    <p>Sie haben die Waren unverz&uuml;glich und in jedem Fall sp&auml;testens binnen vierzehn Tagen ab dem Tag, an dem Sie
      uns &uuml;ber den Widerruf dieses Vertrags unterrichten, an uns zur&uuml;ckzusenden oder zu &uuml;bergeben. Die Frist
      ist gewahrt, wenn Sie die Waren vor Ablauf der Frist von vierzehn Tagen absenden.</p>
    <p>Sie tragen die unmittelbaren Kosten der R&uuml;cksendung der Waren.</p>
    <p>Sie m&uuml;ssen f&uuml;r einen etwaigen Wertverlust der Waren nur aufkommen, wenn dieser Wertverlust auf einen zur
      Pr&uuml;fung der Beschaffenheit, Eigenschaften und Funktionsweise der Waren nicht notwendigen Umgang mit ihnen
      zur&uuml;ckzuf&uuml;hren ist.</p>
    <h3>Ausschluss bzw. vorzeitiges Erl&ouml;schen des Widerrufsrechts</h3>
    <p>Soweit nichts anderes vereinbart ist, besteht ein Widerrufsrecht nicht bei Vertr&auml;gen zur Erbringung von
      Dienstleistungen im Zusammenhang mit Freizeitbet&auml;tigungen, wenn der Vertrag f&uuml;r die Erbringung einen
      spezifischen Termin oder Zeitraum vorsieht. Danach ist ein Widerrufsrecht auch bei Vertr&auml;gen ausgeschlossen, die
      den Verkauf von Tickets f&uuml;r termingebundene Freizeitveranstaltungen zum Gegenstand haben.</p>
    <h2>B. Widerrufsformular</h2>
    <p>Wenn Sie den Vertrag widerrufen wollen, dann f&uuml;llen Sie bitte dieses Formular aus und senden es zur&uuml;ck.</p>
    <p>An</p>
    Verfasste Studierendenschaft der Hochschule Albstadt-Sigmaringen K.d.&Ouml;.R., Maximilian Merkwitza,
    Anton-G&uuml;nther-Stra&szlig;e 51<br/>
    72488 Sigmaringen, Deutschland, Tel.: +4975717329198, E-Mail: astaalb@hs-albsig.de</p>
    <p>Hiermit widerrufe(n) ich/wir (*) den von mir/uns (*) abgeschlossenen Vertrag &uuml;ber den Kauf der folgenden Waren
      (*)/die Erbringung der folgenden Dienstleistung (*)</p>
    <p>_______________________________________________________</p>
    <p>_______________________________________________________</p>
    <p>Bestellt am (*) ____________ / erhalten am (*) __________________</p>
    <p>________________________________________________________<br/> Name des/der Verbraucher(s)</p>
    <p>________________________________________________________<br/> Anschrift des/der Verbraucher(s)</p>
    <p>________________________________________________________<br/> Unterschrift des/der Verbraucher(s) (nur bei Mitteilung
      auf Papier)</p>
    <p>_________________________<br/> Datum</p>
    <p>(*) Unzutreffendes streichen</p>
  </section>
  <footer class="items-center max-w-screen-lg py-4 mx-auto lg:flex">
    <span class="block pr-8">&copy; 2022 VS AlbSig</span>
    <ul class="lg:space-x-4 lg:flex">
      <li>
        <a href="/impressum/">Impressum</a>
      </li>
      <li>
        <a href="/datenschutz/">Datenschutz</a>
      </li>
      <li>
        <a href="/widerrufsrecht/">Widerrufsrecht</a>
      </li>
      <li>
        <a href="/agb/">AGB</a>
      </li>
    </ul>
  </footer>
</main>